@page "/notecard"
@using System.Text.Json
@inject IJSRuntime JS

<h3>Notecard</h3>

<div class="notecard @(isFlipped ? "flipped" : "")" @onclick="FlipCard">
    <div class="front" lang="@wordPairs[index].FrontLang">
        @wordPairs[index].Front
    </div>
    <div class="back" lang="@wordPairs[index].BackLang">
        @wordPairs[index].Back
    </div>
</div>

@code {
    private WordPair[] wordPairs =
    {
        new WordPair { Front = "Good morning", FrontLang = "en", Back = "Tere hommikust", BackLang="et" },
        new WordPair { Front = "Restroom please", FrontLang = "en", Back = "Palun tualettruum", BackLang="et" },
        new WordPair { Front = "English please", FrontLang = "en", Back = "Inglise palun", BackLang="et" },
        new WordPair { Front = "Good day", FrontLang = "en", Back = "Tere päevast", BackLang="et" },
        new WordPair { Front = "Bill please", FrontLang = "en", Back = "Palun arve", BackLang="et" },
    };
    private bool isFlipped = false;
    private int index = 0;

    protected override async Task OnInitializedAsync()
    {
        var json = await JS.InvokeAsync<string>("localStorage.getItem", "wordPairs");
        if (json is null) { return; }
        var newWordPairs = JsonSerializer.Deserialize<WordPair[]>(json);
        if (newWordPairs != null && newWordPairs.Length > 0)
        {
            wordPairs = newWordPairs;
        }
    }

    private void FlipCard()
    {
        if (isFlipped)
        {
            NextCard();
        }

        isFlipped = !isFlipped;
    }

    private void NextCard()
    {
        index = ++index % wordPairs.Length;
    }

    public class WordPair
    {
        public string Front { get; set; } = string.Empty;
        public string FrontLang { get; set; } = "en";
        public string Back { get; set; } = string.Empty;
        public string BackLang { get; set; } = "en";
    }
}
